 html,
 body {
     position: relative;
     height: 100%;
 }
 
 body {
     background: #eee;
     font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
     font-size: 14px;
     color: #000;
     margin: 0;
     padding: 0;
 }
 
 .swiper-container {
     width: 100%;
     height: 100%;
 }
 
 .swiper-slide {
     text-align: center;
     font-size: 18px;
     background: #fff;
     display: -webkit-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     -webkit-justify-content: center;
     justify-content: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     -webkit-align-items: center;
     align-items: center;
 }
 /*第一页*/
 
 #face,
 #res,
 #body,
 #menu {
     width: 100%;
     height: 100%;
 }
 
 #face {
     background-image: url(../image/face.png);
     background-size: cover;
 }
 
 #res {
     background-color: rgba(8, 161, 239, 0.329412);
     display: flex;
     justify-content: center;
 }
 
 #music {
     width: 17.5rem;
     height: 2.5rem;
     display: flex;
     flex-direction: row-reverse;
     /*border: 1px solid red;*/
 }
 
 .music-1 {
     background-image: url(../image/音乐.png);
     background-size: cover;
     width: 2rem;
     height: 2rem;
     align-self: flex-end;
     /*border: 1px solid red;*/
 }
 
 .rotate {
     -webkit-animation: mu 1.2s infinite linear;
     animation: mu 1.5s infinite linear;
 }
 
 @-webkit-keyframes mu {
     0% {
         -webkit-transform: rotate(0);
         transform: rotate(0);
     }
     100% {
         -webkit-transform: rotate(360deg);
         transform: rotate(360deg);
     }
 }
 
 @keyframes mu {
     0% {
         -webkit-transform: rotate(0);
         transform: rotate(0);
     }
     100% {
         -webkit-transform: rotate(360deg);
         transform: rotate(360deg);
     }
 }
 
 .pop {
     background-image: url(../image/04.png);
     width: 14rem;
     height: 23rem;
     background-size: cover;
     color: #fff;
     display: flex;
     border: 1px solid red;
     align-self: center;
 }
 
 .pop-1 {
     width: 14rem;
     height: 18rem;
     align-self: flex-end;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
 }
 
 .jianli {
     width: 14rem;
     height: 3rem;
     font-size: 2rem;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
 }
 
 .job {
     font-size: 1.8rem;
 }
 
 .name {
     width: 5rem;
     height: 2rem;
     border: 2px solid #fff;
     font-size: 0.8rem;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0 auto;
 }
 
 .arrow {
     width: 18rem;
     height: 4rem;
     position: absolute;
     bottom: 0.5rem;
     z-index: 66666;
 }
 
 .arrow-1 {
     width: 2rem;
     height: 2rem;
     margin: 0 auto;
     margin-top: 50px;
     -webkit-animation: start 1.5s infinite ease-in-out;
     animation: start 1.5s infinite ease-in-out;
 }
 
 .arrow img {
     width: 2rem;
     height: 2rem;
 }
 
 @-webkit-keyframes start {
     0% {
         -webkit-transform: translateY(0);
         transform: translateY(0);
     }
     100% {
         -webkit-transform: translateY(-150%);
         transform: translateY(-150%);
         opacity: 0;
     }
 }
 
 @keyframes start {
     0% {
         -webkit-transform: translateY(0);
         transform: translateY(0);
     }
     100% {
         -webkit-transform: translateY(-150%);
         transform: translateY(-150%);
         opacity: 0;
     }
 }
 /*第二页*/
 
 #body {
     background-image: url(../image/body.png);
     background-size: cover;
 }
 
 .section {
     width: 15rem;
     height: 25rem;
     margin: 0 auto;
     background-size: cover;
     color: #fff;
 }
 
 .section-1 {
     width: 15rem;
     height: 4rem;
     display: flex;
 }
 
 #menu {
     display: flex;
     justify-content: center;
     border-bottom: 0.1rem solid #fff;
     align-items: flex-end;
 }
 
 .menu-1 {
     font-size: 2rem;
 }
 
 .menu-2 {
     font-size: 1.52rem;
 }
 
 .section-2 {
     width: 15rem;
     height: 3.5rem;
     display: flex;
 }
 
 .img {
     width: 15rem;
     height: 3rem;
     background-image: url(../image/01.png);
     background-size: cover;
     align-self: flex-end;
     color: rgb(8, 161, 239);
     display: flex;
     justify-content: center;
 }
 
 .img-1 {
     width: 13rem;
     height: 2rem;
     margin: 0 auto;
     display: flex;
     align-items: flex-end;
     font-size: 1rem;
     align-self: center;
 }
 
 .img-1 span {
     font-size: 0.6rem;
 }
 /*第三页*/
 
 .three,
 .fore,
 .five,
 .six {
     width: 15rem;
     height: 25rem;
     margin: 0 auto;
     background-size: cover;
     color: #fff;
 }
 
 .three-1 {
     width: 15rem;
     height: 5rem;
     border-bottom: 0.2rem dashed #fff;
     display: flex;
     justify-content: center;
 }
 
 .attr,
 .attr-1,
 .img-M,
 .img-M img {
     width: 4.5rem;
     height: 4.5rem;
     border-radius: 50%;
 }
 
 .attr {
     align-self: center;
 }
 
 .attr-1 {
     align-self: center;
     background-image: url(../image/attr.jpg);
     background-size: cover;
 }
 
 .img-M img {
     align-self: center;
 }
 
 .top {
     -webkit-animation: top_1 2s infinite linear;
     animation: top_1 5s infinite linear;
 }
 
 @-webkit-keyframes top_1 {
     0% {
         -webkit-transform: rotate(0);
         transform: rotate(0);
     }
     100% {
         -webkit-transform: rotate(360deg);
         transform: rotate(360deg);
     }
 }
 
 @keyframes top_1 {
     0% {
         -webkit-transform: rotate(0);
         transform: rotate(0);
     }
     100% {
         -webkit-transform: rotate(360deg);
         transform: rotate(360deg);
     }
 }
 
 .three-2 {
     width: 15rem;
     height: 19rem;
 }
 
 .three-3 {
     width: 15rem;
     height: 3rem;
     display: flex;
 }
 
 .th-3-1 {
     width: 3rem;
     height: 3rem;
     display: flex;
     justify-content: center;
 }
 
 .th-3-1-2 {
     width: 1.5rem;
     height: 1.5rem;
     border: 0.1rem solid #fff;
     display: flex;
     align-self: center;
     border-radius: 1.5rem;
 }
 
 .th-3-2 {
     width: 10rem;
     height: 3rem;
     border-bottom: 0.1rem solid #fff;
     display: flex;
 }
 
 .th-3-2-2 {
     font-size: 1rem;
     display: flex;
     align-self: center;
 }
 /*第四页*/
 
 .fore-1,
 .five-1 {
     width: 15rem;
     height: 4rem;
     border-bottom: 0.2rem dashed #fff;
     display: flex;
 }
 
 .fore-1-attr,
 .five-1-attr {
     width: 3rem;
     height: 3rem;
     align-self: center;
     border-radius: 50%;
 }
 
 .fore-2-attr,
 .five-2-attr {
     width: 8rem;
     height: 4rem;
     align-self: center;
     display: flex;
     justify-content: center;
 }
 
 .fore-2-attr-2,
 .five-2-attr-2 {
     align-self: center;
     font-size: 1.5rem;
 }
 
 .fore-1-attr-1,
 .five-1-attr-1,
 .six-1-attr-1 {
     width: 3rem;
     height: 3rem;
     align-self: center;
     border-radius: 50%;
     background-size: cover;
 }
 
 .fore-1-attr-1 {
     background-image: url(../image/技能.png);
 }
 
 .img-F {
     width: 3rem;
     height: 3rem;
     border-radius: 50%;
 }
 
 .img-F img {
     width: 3rem;
     height: 3rem;
     align-self: center;
     border-radius: 50%;
 }
 
 .JN {
     -webkit-animation: top_1 2s infinite linear;
     animation: top_1 5s infinite linear;
 }
 
 @-webkit-keyframes top_1 {
     0% {
         -webkit-transform: rotate(0);
         transform: rotate(0);
     }
     100% {
         -webkit-transform: rotate(360deg);
         transform: rotate(360deg);
     }
 }
 
 @keyframes top_1 {
     0% {
         -webkit-transform: rotate(0);
         transform: rotate(0);
     }
     100% {
         -webkit-transform: rotate(360deg);
         transform: rotate(360deg);
     }
 }
 
 .fore-2 {
     width: 15rem;
     height: 20rem;
 }
 
 .fore-3 {
     width: 15rem;
     height: 2.5rem;
     display: flex;
 }
 
 .fore-3-1 {
     width: 3rem;
     height: 2.5rem;
     display: flex;
 }
 
 .fore-3-1-2 {
     width: 1.7rem;
     height: 1.7rem;
     border: 0.1rem dashed #fff;
     background-color: #fff;
     color: rgb(8, 161, 239);
     display: flex;
     align-self: flex-end;
     border-radius: 1.7rem;
     justify-content: center;
 }
 
 .fore-3-2 {
     width: 11rem;
     height: 2.5rem;
     display: flex;
 }
 
 .fore-3-2-2,
 .fore-3-2-3,
 .fore-3-2-4 {
     justify-content: center;
     display: flex;
     align-self: flex-end;
     background-color: rgb(8, 161, 239);
 }
 
 .fore-3-2-2 {
     width: 10rem;
     height: 1.5rem;
 }
 
 .fore-3-2-3 {
     width: 8rem;
     height: 1.5rem;
     justify-content: center;
 }
 
 .fore-3-2-4 {
     width: 9rem;
     height: 1.5rem;
     justify-content: center;
 }
 
 .fore-4 {
     width: 15rem;
     height: 7rem;
     display: flex;
 }
 
 .fore-4-1 {
     width: 4rem;
     height: 4rem;
     align-self: center;
     display: flex;
     justify-content: flex-end;
 }
 
 .fore-4-1-2 {
     width: 2.5rem;
     height: 2.5rem;
     border-radius: 2.5rem;
     background-color: #fff;
     display: flex;
     justify-content: center;
     color: rgb(8, 161, 239);
 }
 
 .fore-4-1-3 {
     display: flex;
     align-self: center;
 }
 
 .fore-4-2 {
     width: 4rem;
     height: 5rem;
     align-self: flex-end;
     display: flex;
     justify-content: flex-end;
 }
 
 .fore-4-2-2 {
     width: 3.5rem;
     height: 3.5rem;
     border-radius: 3.5rem;
     background-color: #fff;
     color: rgb(8, 161, 239);
     display: flex;
     justify-content: flex-end;
     align-self: flex-end;
     justify-content: center;
 }
 
 .fore-4-3 {
     width: 4rem;
     height: 5rem;
     display: flex;
     justify-content: flex-end;
 }
 
 .fore-4-3-2 {
     width: 2rem;
     height: 2rem;
     border-radius: 2rem;
     background-color: #fff;
     align-self: flex-end;
     display: flex;
     color: rgb(8, 161, 239);
     justify-content: center;
 }
 
 .fore-4-4 {
     width: 4rem;
     height: 6rem;
     align-self: flex-end;
     display: flex;
     justify-content: flex-end;
 }
 
 .fore-4-4-2 {
     width: 2.5rem;
     height: 2.5rem;
     border-radius: 2.5rem;
     background-color: #fff;
     color: rgb(8, 161, 239);
     justify-content: center;
     display: flex;
 }
 /*第五页*/
 
 .five-2-attr {
     width: 8rem;
     height: 4rem;
     align-self: center;
     display: flex;
     justify-content: center;
 }
 
 .five-2-attr-2 {
     align-self: center;
     font-size: 1.5rem;
 }
 
 .five-1-attr-1 {
     background-image: url(../image/工作.png);
 }
 
 .img-F {
     width: 3rem;
     height: 3rem;
     border-radius: 50%;
 }
 
 .img-G img {
     width: 3rem;
     height: 3rem;
     align-self: center;
     border-radius: 50%;
 }
 
 .JY {
     -webkit-animation: top_2 2s infinite linear;
     animation: top_2 5s infinite linear;
 }
 
 @-webkit-keyframes top_2 {
     0% {
         -webkit-transform: rotate(0);
         transform: rotate(0);
     }
     100% {
         -webkit-transform: rotate(360deg);
         transform: rotate(360deg);
     }
 }
 
 @keyframes top_2 {
     0% {
         -webkit-transform: rotate(0);
         transform: rotate(0);
     }
     100% {
         -webkit-transform: rotate(360deg);
         transform: rotate(360deg);
     }
 }
 
 .five-2 {
     width: 15rem;
     height: 19rem;
     display: flex;
     align-items: center;
 }
 
 .five-2-F {
     width: 15rem;
     height: 19rem;
 }
 
 .five-F-1 {
     width: 15rem;
     height: 4.5rem;
     display: flex;
     justify-content: center;
 }
 
 .five-F-1-a {
     width: 4rem;
     height: 4.5rem;
     display: flex;
     align-items: center;
 }
 
 .five-F-1-b {
     width: 2rem;
     height: 4.5rem;
     display: flex;
     align-items: center;
 }
 
 .five-F-1-c {
     width: 8.5rem;
     height: 4.5rem;
     display: flex;
     align-items: center;
 }
 /*第六页*/
 
 .six-1 {
     width: 15rem;
     height: 4rem;
     border-bottom: 0.2rem dashed #fff;
     display: flex;
 }
 
 .six-1-attr,
 .img-S,
 .img-S img {
     width: 3rem;
     height: 3rem;
 }
 
 .six-1-attr {
     align-self: center;
     border-radius: 50%;
 }
 
 .six-2-attr {
     width: 8rem;
     height: 4rem;
 }
 
 .six-2-attr-2 {
     align-self: center;
     font-size: 1.5rem;
 }
 
 .six-1-attr-1 {
     background-image: url(../image/作品.png);
 }
 
 .img-S {
     border-radius: 50%;
 }
 
 .img-S img {
     align-self: center;
     border-radius: 50%;
 }
 
 .PN {
     -webkit-animation: top_1 2s infinite linear;
     animation: top_1 5s infinite linear;
 }
 
 @-webkit-keyframes top_1 {
     0% {
         -webkit-transform: rotate(0);
         transform: rotate(0);
     }
     100% {
         -webkit-transform: rotate(360deg);
         transform: rotate(360deg);
     }
 }
 
 @keyframes top_1 {
     0% {
         -webkit-transform: rotate(0);
         transform: rotate(0);
     }
     100% {
         -webkit-transform: rotate(360deg);
         transform: rotate(360deg);
     }
 }
 
 .six-2 {
     width: 15rem;
     height: 20rem;
 }
 
 .six-2-1,
 .six-2-2 {
     width: 15rem;
     height: 10rem;
 }
 
 .six-2-1,
 .six-2-2,
 .six-2-1-1,
 .six-2-1-2,
 .six-2-2-1,
 .six-2-2-2,
 .six-2-attr {
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .six-2-1-1,
 .six-2-1-2,
 .six-2-2-1,
 .six-2-2-2 {
     width: 7rem;
     height: 9rem;
 }
 
 .six-2-1-1,
 .six-2-2-2 {
     background-color: rgba(255, 255, 255, 0.5);
 }
 
 .six-2-1-2,
 .six-2-2-1 {
     background-color: rgba(8, 161, 239, 0.5);
 }
 
 .six-img-1,
 .six-img-2 {
     width: 6rem;
     height: 8rem;
     color: #fff;
 }
 
 .six-img-1 {
     background-color: #fff;
 }
 
 .six-img-2 {
     font-size: 0.6rem;
 }
 
 .six-img-1 img {
     width: 6rem;
     height: 8rem;
 }