@charset "UTF-8";
* {
  outline: none; }

/*大屏导航*/
.navbar-default {
  background-color: #9c1e2e;
  background-image: url(../index7/img/christmas-bg.png); }

.navbar-fixed-top {
  border: 0; }

.navbar-brand {
  padding: 0; }

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fff; }

.navbar-default .navbar-nav > .open > a:focus {
  color: #fff; }

.dropdown-toggle {
  background-color: #9c1e2e !important;
  background-image: url(https://www.pantrysbest.com/assets/christmas-bg-06297b0446b04a61a5a68a6e3f13b7cb.png); }

.nav-header .navbar-brand img {
  max-height: 26px;
  margin-top: 10px; }

@media only screen and (max-width: 767px) {
  /*小屏导航*/
  .navbar-header {
    background-image: url(../index7/img/christmas-bg.png);
    background-size: cover;
    margin-top: -1px; }
  .navbar-brand > img {
    max-height: 30px;
    margin-top: 8px; }
  .navbar-toggle {
    padding: 0; }
  .navbar .denglu {
    color: #fff;
    width: 50px; }
  .container-fluid {
    background-color: #fff;
    font-size: 13px;
    padding: 5px; }
  .navbar-collapse .navbar-nav {
    margin: 0px -15px; }
  .navbar-collapse .navbar-nav > li > a {
    color: #fff; }
  .dropdown-menu > li > a {
    color: #fff; }
  .navbar .fa-phone {
    color: #fff; }
  .dropdown a {
    background-color: #9c1e2e;
    background-image: url(https://www.pantrysbest.com/assets/christmas-bg-06297b0446b04a61a5a68a6e3f13b7cb.png); }
  .navbar-nav .open .dropdown-menu {
    margin-top: -5px;
    margin-bottom: -5px; }
  .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 540px;
    width: 100%; }
  .container-fluid {
    background-color: #fff;
    font-size: 12px; }
  .container-fluid .href {
    color: #390c20;
    text-decoration: none; }
  .fuji {
    margin-top: 10px;
    padding-right: 0px; } }

/*尾部*/
#weibu {
  margin-top: 100px; }

.container .last > td {
  padding-left: 10px; }

.container .col-md-12 {
  margin-top: 50px;
  margin-bottom: 20px; }

.container .col-md-12 a {
  color: green; }

.panel-group {
  margin-top: 100px; }

.panel-group .panel-heading {
  border-radius: 10px;
  background-color: #390c20;
  color: #fff;
  height: 29px; }

.panel-default {
  border-color: #fff;
  border: none; }

.panel-group .panel .panel-collapse .panel-body {
  border-top: 0px solid #ddd;
  color: #a7a7a7; }

.panel-heading {
  width: 100%;
  box-shadow: none; }

.panel-title {
  text-align: left;
  margin-top: -4px; }

.panel-body a {
  color: #a7a7a7;
  text-decoration: none;
  white-space: nowrap;
  font-size: 12px; }

.panel-body > div {
  padding-bottom: 10px; }

.some {
  border-bottom: 1px solid #390c20;
  height: 200px; }

.yishu {
  white-space: nowrap; }

.photo {
  border-radius: 10px; }

/*减号*/
.some .server1 {
  width: 40px;
  height: 40px;
  background-image: url(https://www.pantrysbest.com/assets/product-set03-00513e3868c07fa187e3ece86b6f82bf.png);
  background-size: cover;
  background-color: #fff;
  border: 0; }

/*加号*/
.some .server2 {
  width: 40px;
  height: 40px;
  background-image: url(https://www.pantrysbest.com/assets/product-set02-7911e6d209a9ced7052995ef7c9d99dc.png);
  background-size: cover;
  background-color: #fff;
  border: 0; }

.some .tianjia {
  border: 1px solid #fff;
  width: 30px;
  padding-top: 30px; }

/*购物车*/
.red-cat {
  /*border: 1px solid red;*/
  width: 30px;
  height: 30px;
  background-image: url(https://www.pantrysbest.com/assets/shopping-cart20160225-0854bb8e012b239ae0537e49b3141f86.png);
  background-size: cover; }

.red-cat:hover {
  background-image: url(https://www.pantrysbest.com/assets/shopping-cart20161122-9a48a06e299406c103293ed2aa174310.png); }

.donghua {
  margin-top: 100px; }
