body {
    background-color: #f8f8f8;
}

.navbar-brand {
    background-color: orangered;
}

.navbar-default .navbar-brand {
    color: #fff !important;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: orangered;
}

.first {
    background-color: #fff;
    border-radius: 5px;
}

.first img {
    margin: 10px 0;
}

.img1 {
    background-image: url(../img/1419843294431694-lp.png);
    background-size: cover;
    width: 30%;
    height: 280px;
    margin: 10px;
}

.img2 {
    background-image: url(../img/1419413964517500-lp.png);
    background-size: cover;
    width: 45%;
    height: 130px;
    margin: 10px 0px;
}

.img3 {
    background-image: url(../img/1416472235430748-lp.jpg);
    background-size: cover;
    height: 130px;
    margin: 10px;
    width: 45%;
}

.img4 {
    background-image: url(../img/1416471645138002-lp.jpg);
    background-size: cover;
    height: 130px;
    margin: 10px 0px;
    width: 45%;
}

.img5 {
    background-image: url(../img/1411115290840453-lp.jpg);
    background-size: cover;
    height: 130px;
    margin: 10px;
    width: 45%;
}

.text {
    width: 100%;
    height: 30px;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 250px;
    color: #fff;
    font-size: 12px;
}

.text1 {
    width: 100%;
    height: 30px;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 100px;
    color: #fff;
    font-size: 12px;
}

.button {
    background-color: orangered;
    border-radius: 5px;
    outline: none;
    color: #fff;
    height: 35px;
}

.spout {
    font-size: 18px;
    border-bottom: 2px solid orangered;
}

.neirong div {
    margin-top: 15px;
}

.second {
    margin-top: 20px;
    padding: 10px 0px;
    ;
    background-color: #fff;
    border-radius: 5px;
}

.img6 {
    background-image: url(../img/ad1.jpg);
    background-size: cover;
    height: 350px;
}

.new {
    border-bottom: 2px solid darkgrey;
    width: 100%;
    height: 30px;
}

.new1 {
    border-bottom: 2px solid orangered;
    width: 80px;
    height: 30px;
}

.jm {
    width: 80px;
    height: 26px;
    color: #fff;
    background-color: orangered;
    margin: 10px;
}

.img7 {
    background-image: url(../img/ad2.jpg);
    background-size: cover;
    height: 350px;
    margin-top: 10px;
}

.btn-default {
    background-color: orangered;
    color: #fff;
}

.footer {
    width: 100%;
    height: 100px;
    border-bottom: 2px solid darkgrey;
}